/CalcularMediaMediana/nbproject/private/
/CalcularMediaMediana/build/
/EstadisticaProyecto/nbproject/private/
/EstadisticaProyecto/build/
/Principal/nbproject/private/
/Principal/build/
/TrabajoAlgebra/nbproject/private/
/TrabajoAlgebra/build/
